[submodule "Universal_Robot_ROS_Driver"]
	path = Universal_Robot_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "gazebo_ros_link_attacher"]
	path = gazebo_ros_link_attacher
	url = https://github.com/pal-robotics/gazebo_ros_link_attacher.git
[submodule "Universal_Robot"]
	path = Universal_Robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = melodic-devel-staging
