<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_robot_gripper">

  <!-- Import the xacro macro for the REAL robot. -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>

  <!-- Instantiate model for the REAL robot. -->
  <xacro:ur5e_robot
    prefix=""
    kinematics_parameters_file='$(find integration_package)/calibration_files/ex-ur5e_calibration.yaml'/>

  <!-- Robot gripper -->

  <xacro:include filename="$(find soft_robotics_description)/urdf/soft_robotics_description_macro.xacro" />

  <xacro:soft_robotics_description prefix=""/>

  <!-- Link UR5 base to world -->

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 1.79" rpy="${-pi} 0 ${pi}"/>
  </joint>

  <!-- Attach gripper to robot arm -->

  <joint name="soft_robotics_gripper_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy=" 0 0 ${pi/2}" />
    <parent link="tool0" />
    <child link="soft_robotics_gripper_base_link" />
  </joint>
  
</robot>